$navbar-height: 64px;

.navbar {
  box-sizing: border-box;
  height: $navbar-height;
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--navbar-color);
  position: relative;
}

.navbar__title,
.navbar__link,
.navbar__sub-link,
.navbar__toggle-button {
  color: black;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background: rgba(black, 0.1);
  }
}

.navbar__title-container {
  flex: 1;
}

.navbar__title-container,
.navbar__links {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.navbar__title,
.navbar__link,
.navbar__toggle-button {
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  height: 100%;
}

.navbar__sub-link {
  display: block;
  background: var(--navbar-color);
  padding: 8px;

  &:hover {
    background: #ddd;
  }
}

.navbar__toggle-button {
  background: none;
  border: none;
}

.navbar__toggle-checkbox {
  display: none;
}

@media (min-width: 600px) {
  .navbar__link {
    .navbar__sub-links {
      display: none;
      position: absolute;
      top: $navbar-height;
      left: 0;
    }

    &.navbar__link--category {
      position: relative;
    }

    &.navbar__link--category:hover .navbar__sub-links {
      display: block;
    }
  }

  .navbar__toggle-button {
    display: none;
  }
}

@media (max-width: 600px) {
  .navbar__links {
    display: none;
  }

  .navbar__toggle-checkbox:checked ~ .navbar__links {
    display: flex;
  }

  .navbar__links {
    position: absolute;
    flex-direction: column;
    background: var(--navbar-color);
    top: $navbar-height;
    width: 100%;
    left: 0;
    right: 0;
    padding: 16px;
    height: unset;

    .navbar__link--category {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &:hover {
        background: var(--navbar-color);
      }
    }

    .navbar__sub-links {
      padding-top: 8px;
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
