@import "navbar";

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: 'Noto Sans', sans-serif;
}

:root {
  --primary-color: #FF5722;
  --primary-color-hover: #F4511E;
  --primary-text: white;
  --navbar-color: #eee;
}

.content {
  padding: 8px;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  padding-left: 32px;
}

h2, h3, h4 {
  width: 100%;
  margin: 16px 0;
}

h2 {
  max-width: 400px;
  border-bottom: 8px solid var(--primary-color);
}

h3 {
  max-width: 200px;
  border-bottom: 6px solid var(--primary-color);
}
